.main-header { 
padding: 20px; 
background: ##53538A
;
} 

.main-footer { 
height: 100px; 
color:#FFF;
background: #222;
} 

.base { 
padding-top: 50px; 
color: #FFF; 
text-align:  center;
font-size: 24px;
} 