.main-header { 
padding: 20px; 
background: #4B4B7D;
} 

.base { 
padding:50px; 
color: #; 
text-align:center;
font-size: 24px;
} 

.main-footer { 
color:#FFF;
background:#795747;
} 

.links { 
list-style: none; 
float: left;
}  

.text_line { 
float: center;
}